
body{
    background-color: rgba(255, 255, 128, .5);
}

#img-bg {
    border: 3px solid #555;
    padding: 6px;
}

#footer-bottom{
background-color: transparent;
  margin-top: -0.5em;
  padding: 2em;
  position: fixed; 
  left: 50%;
  transform:translateX(-50%);
  bottom: 0;
}