

<div id="footer-bottom" class="text-center">
    <hr>
    <div class="container">
        <div class="row">
            
            <div class="col-sm-2"></div>
            <div class="col-sm-8 text-center">
                <img src="assets/images/compro-logo.webp" alt="Compro logo" width="40%" height="auto">
                <p>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Developed by Md Tohfatul Islam</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>

