
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h4>Edit Travel:</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            Location:
                        </td>
                        <td>
                            <input type="text" id="location.name" 
                            name="location.name" placeholder="Name"  
                            [(ngModel)]="travel.location.name"> &nbsp;
                            
                            <input type="text" id="location.coordinates" 
                            name="location.coordinates" 
                            placeholder="Coordinates"
                            [(ngModel)]="travel.location.coordinates">
                        </td>
                    </tr>                  
                    <tr>
                        <td>
                            Country:
                        </td>
                        <td>
                            <input type="text" id="country" name="country" placeholder="Country" [(ngModel)]="travel.country">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Photos:
                        </td>
                        <td>
                            photo 1 <br>
                            photo 2
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><button class="btn btn-primary" (click)="onSaveClick()">Save</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>